@model PagedList.IPagedList<FrontEnd.Models.Author>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@functions {
    public string GetTypeOfOrderName()
    {
        if (String.IsNullOrEmpty(ViewBag.SortName))
        {
            return "ASC";
        }

        if (ViewBag.SortName == "DESC")
        {
            return "ASC";
        }

        if (ViewBag.SortName == "ASC")
        {
            return "DESC";
        }

        return "";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchName")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortName = @GetTypeOfOrderName(), searchName = ViewBag.SearchName })
        </th>
        <th>
            Gender
        </th>
        <th>
            State
        </th>
        <th>
            IsAlive
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @GenericFunction.ConvertGenderToString(item.Gender)
            </td>
            <td>
                @GenericFunction.GetState(item.State)
            </td>
            <td>
                @GenericFunction.GetIsAlive(item.IsAlive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, searchName = ViewBag.SearchName }))